@import url(//fonts.googleapis.com/earlyaccess/nicomoji.css);
html {
  font-family: "Nico Moji", Arial, Helvetica, sans-serif;
}

* {
  font-family: "Nico Moji", Arial, Helvetica, sans-serif;
}

.header-box {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  height: 133px;
  width: 100%;
  border-bottom: 3px solid #888888;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  z-index: 3;
}
.header-box_title {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  -webkit-text-stroke: 1.5px #FFFFFF;
  font-size: 24px;
  font-family: "Nico Moji";
  text-decoration: none;
  color: black;
}
.header-box_doc {
  margin-left: 16%;
}
.header-box_basket {
  margin-left: 1200px;
}
.header-box_spot {
  margin-left: 5%;
}
.header-box_vk {
  margin-left: 73%;
}

.main-section {
  position: relative;
  width: 1620px;
  height: 1600px;
  margin: 133px auto 0 auto;
}

.button-setting {
  border: none;
  background: #FFFFFF;
  cursor: pointer;
  padding: 0;
}

.footer-main {
  display: flex;
  align-items: center;
  height: 104px;
  border-top: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 4;
}

.product-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 162px;
  width: 100%;
}

.card-item {
  position: relative;
  height: 580px;
  width: 400px;
  margin-bottom: 187px;
}
.card-item_title {
  width: 220px;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  -webkit-text-stroke: 1.5px #FFFFFF;
  color: #3A3C44;
}
.card-item_button-more {
  position: absolute;
  height: 44px;
  font-size: 24px;
  mix-blend-mode: multiply;
  border: 1px solid #34363F;
  padding: 0 5px 0 5px;
  color: #3A3C44;
  bottom: 40px;
  left: 24px;
}
.card-item_button-buy {
  position: absolute;
  height: 44px;
  font-size: 24px;
  mix-blend-mode: multiply;
  border: 1px solid #34363F;
  padding: 0 25px 0 25px;
  color: #3A3C44;
  bottom: 40px;
  left: 220px;
}

.margin-card {
  margin-right: 210px;
}

.margin-card-2 {
  margin-bottom: 10px;
}

.burger-box {
  position: absolute;
  display: flex;
  width: 100%;
  height: 450px;
  background: #FFFFFF;
  z-index: 6;
  top: -450px;
  transition: 0.2s;
}
.burger-box_icon {
  background: none;
}
.burger-box_icon-cross {
  margin-left: 5%;
}

.buttons-box {
  position: absolute;
  display: flex;
  top: 200px;
  transform: translate(-50%, 0);
  left: 50%;
  z-index: 5;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.item-button {
  font-size: 24px;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.burger-box_anim {
  top: -158px;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(17, 12, 31, 0.2);
  visibility: hidden;
}

.background-basket {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  visibility: hidden;
  background: rgba(17, 12, 31, 0.2);
}

.basket-box {
  position: fixed;
  width: 637px;
  height: 100%;
  background: #FFFFFF;
  right: -637px;
  top: 0;
  z-index: 6;
  transition: 0.2s;
}
.basket-box_cost {
  position: absolute;
  font-size: 26px;
  width: 305px;
  padding: 10px 10px;
  -webkit-text-stroke: 1px #FFFFFF;
  top: 710px;
  left: 316px;
  border-radius: 5px;
}
.basket-box_name {
  text-align: end;
  font-size: 20px;
  -webkit-text-stroke: 1.5px #FFFFFF;
  margin: 20px 10px 39px 0;
}
.basket-box_text {
  font-size: 24px;
  margin: 0 0 100px 20px;
}
.basket-box_err {
  width: 500px;
  font-size: 24px;
  margin-left: 68px;
  text-align: center;
}
.basket-box_button {
  position: absolute;
  font-size: 26px;
  width: 395px;
  border: 1px solid #000000;
  padding: 42px 72.5px;
  transform: translate(-50%, 0);
  left: 50%;
  top: 500px;
}

.basket-box_anim {
  right: 0;
}

.basket-container {
  position: absolute;
  width: 550px;
  height: 567px;
  background: #d8d8d8;
  transform: translate(-50%, 0);
  left: 50%;
  top: 150px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.basket-item {
  position: relative;
  display: flex;
  height: 91px;
  width: 548px;
  border: 1px solid #d8d8d8;
  background: #FFFFFF;
}
.basket-item_img {
  width: 91px;
}
.basket-item_name {
  margin: 15px 0 0 20px;
  -webkit-text-stroke: 1px #FFFFFF;
  font-size: 20px;
}
.basket-item_price {
  position: absolute;
  -webkit-text-stroke: 0.7px #FFFFFF;
  font-size: 18px;
  margin-top: 65px;
  left: 430px;
}
.basket-item_size {
  position: absolute;
  top: 60px;
  -webkit-text-stroke: 0.5px #FFFFFF;
  left: 112px;
  font-size: 19px;
}
.basket-item_button {
  position: absolute;
}

.icon-delete {
  position: absolute;
  height: 40px;
  left: 500px;
}

.pay-box {
  position: fixed;
  display: flex;
  top: 150px;
  width: 500px;
  height: 550px;
  transform: translateX(-50%);
  left: 50%;
  background: #FFFFFF;
  z-index: 6;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  visibility: hidden;
}
.pay-box_title {
  position: absolute;
  top: 30px;
  text-align: center;
  font-size: 28px;
  transform: translateX(-50%);
  left: 50%;
  -webkit-text-stroke: 1.5px #FFFFFF;
}
.pay-box_card-text {
  position: absolute;
  font-size: 18px;
  -webkit-text-stroke: 0.5px #FFFFFF;
}
.pay-box_card-text_input {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 50px;
  padding-left: 11px;
}
.pay-box_card-cvc {
  -webkit-text-stroke: 0.5px #FFFFFF;
  position: absolute;
  font-size: 18px;
  right: 40px;
}
.pay-box_card-cvc_input {
  position: absolute;
  top: 20px;
  width: 80px;
  height: 50px;
  right: 0px;
  padding-left: 15px;
}
.pay-box_card-name {
  position: absolute;
  font-size: 18px;
  -webkit-text-stroke: 0.5px #FFFFFF;
  top: 80px;
}
.pay-box_card-name_input {
  position: absolute;
  top: 110px;
  width: 100%;
  height: 50px;
}
.pay-box_card-date {
  position: absolute;
  font-size: 18px;
  -webkit-text-stroke: 0.5px #FFFFFF;
  top: 170px;
}
.pay-box_card-date-select-1 {
  position: absolute;
  width: 70px;
  top: 200px;
  -webkit-text-stroke: 0.5px #FFFFFF;
  height: 50px;
}
.pay-box_card-date-select-2 {
  position: absolute;
  width: 210px;
  top: 200px;
  height: 50px;
  left: 90px;
  -webkit-text-stroke: 0.5px #FFFFFF;
}
.pay-box_card-date-select-3 {
  position: absolute;
  width: 80px;
  top: 200px;
  height: 50px;
  right: 0;
  padding-left: 15px;
}
.pay-box_address {
  position: absolute;
  font-size: 18px;
  top: 280px;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.pay-box_address-text {
  position: absolute;
  top: 260px;
  font-size: 18px;
  -webkit-text-stroke: 0.5px #FFFFFF;
}

.map {
  position: absolute;
  top: 270px;
  border-radius: 5px;
  width: 400px;
  height: 250px;
}

.pay-button {
  position: absolute;
  top: 350px;
  width: 400px;
  -webkit-text-stroke: 0.5px #000000;
  height: 50px;
  background: #000000;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.select-2_item {
  -webkit-text-stroke: 0.5px #FFFFFF;
}

.pay-container {
  position: absolute;
  width: 80%;
  top: 80px;
  transform: translateX(-50%);
  left: 50%;
}

@media screen and (max-width: 1600px) {
  .header-box_basket {
    margin-left: 1000px;
  }
  .header-box_vk {
    margin-left: 70%;
  }
  .card-item {
    width: 300px;
  }
  .main-section {
    width: 1400px;
  }
  .product-box {
    width: 92%;
    transform: translateX(-50%);
    left: 50%;
  }
  .margin-card {
    margin-right: 150px;
  }
}
.toast-container {
  transform: translateX(-50%);
  left: 50%;
  top: 20px;
}

.card-item_button-more {
  width: 400px;
  left: 0;
  background: #000000;
  color: #FFFFFF;
}

.imgs {
  width: 400px;
  transition: 0.2s;
}/*# sourceMappingURL=main.css.map */